/*******************************************************************/
/* 					       G  L  O  B  A  L 						/
/*******************************************************************/
*{
	margin:0;
	padding:0;
	/* this below makes all the borders go inside elements */
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body{
	background-color: #E1E1E1;
}

a {
	color: #E6F1F5;
	text-decoration: none;
	border-bottom: 1px solid #d4d4d4;
	cursor:pointer;
}

a:hover {
	color: rgba(255,255,255,0.4);
}

ul{
	list-style: none;
}
li {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
}

body{
	-webkit-transition: 3s;
}

#introductionSection{
margin-left: auto;
margin-right: auto;}

.childElement-column-photo, .childElement-sub-section {
	-webkit-transition: 3s;
	overflow: hidden;
}
#socialmediaSection, #technologySection, #myfontSection {
	overflow: hidden;
}
/* p{font-family: "Dosis"; font-size: 14pt;} */
p, a {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-size: 12.5pt;
	letter-spacing: 0.8px;
	line-height: 170%;
	color: #E6F1F5;
	}

@font-face {
font-family: "ConsolidationForTitles";
src: 
url("../fonts/ConsolidationForTitles-Regular.ttf") format("truetype"),
url("../fonts/ConsolidationForTitles-Regular.otf") format("opentype"),
url("../fonts/ConsolidationForTitles-Regular.svg") format("svg");
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	margin: 0;
	text-align: left;
	font-size: 15pt;
	margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
input, .input{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgba(0,0,0,0.3);
    background-color: rgba(0,0,0,0.1);
    color: white;
    outline: none;
    -webkit-transition: 1s;
}
.input:focus, input:focus {
	background: rgba(255,255,255,0.1);
	transition-duration: 1s;
}
::-webkit-input-placeholder { /* Chrome */
  color: rgba(255,255,255,0.3);
}
:-ms-input-placeholder { /* IE 10+ */
  color: rgba(255,255,255,0.3);
}
::-moz-placeholder { /* Firefox 19+ */
  color: rgba(255,255,255,0.3);
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: rgba(255,255,255,0.3);;
}
.buttonsmall {
	margin: 3px;
	background: rgba(255,255,255,0.1);
	border: 2px solid rgba(0,0,0,0.3);
	font-size: 15pt;
	font-weight: bold;
	width: 200px;
}
.button {
	background: rgba(255,255,255,0.1);
	border: 2px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	font-size: 15pt;
	padding: 10px;
}
.buttonsmall:hover , .button:hover{
	background: rgba(0,0,0,0.1);
	transition-duration: 90ms;
}

/*******************************************************************/ 
/* 					       Menu Navigation 							/
/*******************************************************************/
/* there's a separate file */
/*******************************************************************/
/* 					       L a Y O u T  							/
/*******************************************************************/
.column {width: 100%;margin: 0 auto;
	padding: 10px;position: relative;
	/*box-shadow: 5px 5px 5px 2px black;*/}

.column1, .column3, .column5{
 background-color: #e2e2e2;
}

.column-photo {
	/* width: 100%; not needed because it's 100% stock*/
	background-size: scroll;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #E6F1F5;
	padding-top: 4%;
	padding-bottom: 4%;/*-webkit-box-shadow: inset -1px -1px 59px 7px rgba(36,29,36,1);
-moz-box-shadow: inset -1px -1px 59px 7px rgba(36,29,36,1);
box-shadow: inset -1px -1px 59px 7px rgba(36,29,36,1);*/
}
.sub-section #title {
	color: #E6F1F5;
}
.sub-section {
background-color: #475D88;
color: rgba(255,255,255,0.8);
padding-bottom: 1%;
padding-top: 1%;
margin-top: 3%;
margin-bottom: 3%;
/*-webkit-box-shadow: -5px 14px 50px 5px rgba(0,0,0,0.75);
-moz-box-shadow: -5px 14px 50px 5px rgba(0,0,0,0.75);
box-shadow: -5px 14px 50px 5px rgba(0,0,0,0.75);*/
-webkit-transition: 4s;
padding: 30px;
text-align: center;
}

.columnList ul{
	list-style: none;
}

.childElement-column-photo{
	max-width: 800px;
	margin:0 auto;
	background-color: #5f5f5b;
	padding: 15px;
	margin-top: 4%;
	border-radius: 2px;
	color: rgba(255,255,255,0.8);
/*	-webkit-box-shadow: 9px 13px 58px -3px rgba(0,0,0,0.42);
-moz-box-shadow: 9px 13px 58px -3px rgba(0,0,0,0.42);
box-shadow: 9px 13px 58px -3px rgba(0,0,0,0.42);*/
}
.childElement-column-photo > p {
	margin: 7px;
}
.childElement-sub-section{
	width: 95%;
	margin: auto;
	margin-left:5%;
	color: rgba(255,255,255,0.8);
	margin-top: 50px;
	overflow:hidden;}

/*******************************************************************/
/* 					       G r i d F l e x  						/
/*******************************************************************/
/*  SECTIONS  */
/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 3%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 45.2%;
}
/*******************************************************************/
/* 					       Ja v a sc r i pt  						/
/*******************************************************************/
.hidden {
	display: none;
	opacity: 0.1ms;
}
.unhidden {
 display: inline;
 opacity: 0.2;
}

#checklist2 li input {
display: none;
}

#checklist2 li.edit span {
	display: none;
}

#checklist2 li.edit input {
	display: initial;
}
/*******************************************************************/
/* 					       		titles 		  						/
/*******************************************************************/
.title {
	letter-spacing: 2px;
	border-radius: 2px;
	text-align: center;
	background-color: rgba(68, 171, 140, 0.62);
	padding:10px;
	font-weight: normal;}

#title {
	text-align: center;
	font-size: 35pt;
	font-weight: 500;
	color: #60605c;
}
/*******************************************************************/
/* 					    P l u g i n s	 		  					/
/*******************************************************************/
.carousel {
	max-width: 800px;
	margin: 20px auto;
}

.carousel-cell {
  width: 80px;
  height: 80px;
  margin-right: 10%;
  border-radius: 8px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}
.flickity-viewport{
	border-right: 2px solid #E6F1F5;
	border-left: 2px solid #E6F1F5;
}

/*******************************************************************/
/* 					    F o o T e r		 		  					/
/*******************************************************************/
footer{
	background-color: #4F4F4E;
}
/*******************************************************************/
/* 					   		 E x t r a 	 		  					/
/*******************************************************************/
#textDisplay {
font-family: 'ConsolidationForTitles';font-size: 90pt;transition-duration: 1s;word-spacing: 20px;font-weight: bold;margin: 2px;color: rgba(255,255,255,0.8);word-wrap: break-word;}
.icon {
	width: 50px;
}
.ember{
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}
.ember img{
	max-width: 350px;
	margin-left: -15px;
	margin-bottom: 55px;
}

/*******************************************************************/
/* 					    M e d i a QUERYZ 		  					/
/*******************************************************************/

@media only screen and (max-width: 720px) {
.span_2_of_2, .span_1_of_2 { width: 100%; margin-left: 0; margin-right: 0; }

#textDisplay {
font-family: 'ConsolidationForTitles';
font-size: 40pt;
word-spacing: 20px;
font-weight: bold;
margin: 2px;
}
.childElement-sub-section{
	margin-left: 2%;
}
.carousel-cell {
  width: 100px;
  height: 100px;
  margin-right: 5%;
  border-radius: 8px;
  counter-increment: carousel-cell;
}
.ember img{
	margin-left: 0px;
	margin-bottom: 15px;
}
}
